<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/navbar'); %>

    <div class="container-fluid">
      <div class="row">
        <%- include('../layout/sidebar'); %>

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 pt-3 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">User Biodata</h1>
          </div>

          <a href="/biodata/add">
            <button type="button" class="btn btn-primary mb-3">
              <span data-feather="plus"></span>
              Add New User
            </button>
          </a>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">GAME ID</th>
                  <th scope="col">NAME</th>
                  <th scope="col">HOBBY</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% userBiodata.forEach((data) => { %>
                  <tr>
                    <td><%= data.id %></td>
                    <td><%= data.gameid %></td>
                    <td><%= data.name %></td>
                    <td><%= data.hobby %></td>

                    <td>
                      <a href="/biodata/edit/<%= data.id %>">
                        <button type="button" class="btn btn-warning mb-3">
                          Edit
                        </button>
                      </a>

                      <a href="/biodata/delete/<%= data.id %>">
                        <button type="button" class="btn btn-danger mb-3">
                          Delete
                        </button>
                      </a>
                    </td>
                  </tr>
                <% }); %>

              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <%- include('../layout/script'); %>
  </body>
</html>
